html,
body {
  background-color: rgb(240, 240, 240);
  padding: 0;
  margin: 0;
  font-family: Charter;

}

.sideTitle {
  display: inline;
  font-style: italic;
}

.button-dropdown {
  color: black;
  border: 1px solid black;
  background-color: white;
  padding: 0px 15px;
  font-size: 16px;
  cursor: pointer;
  width: 50%;
}

li {
  text-decoration: none;
  list-style-type: none;
}

/* .coName {
  color:brown
} */

#gallery {
  line-height:0;
  -webkit-column-count:5; /* split it into 5 columns */
  -webkit-column-gap:5px; /* give it a 5px gap between columns */
  -moz-column-count:5;
  -moz-column-gap:5px;
  column-count:5;
  column-gap:5px;
}


#gallery img {
  width: 100% !important;
  height: auto !important;
  margin-bottom:5px; /* to match column gap */
}

.container {
  
  padding: 5rem;
  color: black
}


a {
  /* text-decoration: none; */
  color: white;
  text-decoration: none;
}


.links {
  color:#152a5a;
}

.title {
  color: #41EAD4;
  display: inline;
  font-weight: 800;
}

.desc_long {

  width: 80%;
  /* font-weight: 700; */
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 30px;
}

.desc {

  width: 60%;
  font-weight: 400;
  font-size: 19x;
  padding-bottom: 30px;
}

.list_item {
  font-size: 20px;
}

.desc_work {

  width: 50%;
  font-weight: 300;
}

h2 {
  font-size: 35px;
  /* height: 10; */
  font-weight: 600;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;

}

.description_job {
  width: 50%;
}

.one {
  grid-column: 1 / 3;
  background-color:crimson;
  animation: fadeIn 1s;
}
.two {
  grid-column: 2 / 4;
  background-color:tomato;
  /* animation: fadeIn 5s; */
}
.three {
  grid-column: 1;
  background-color:rgb(121, 65, 121);
}
.four {
  grid-column: 3;
  background-color: blue;
}
.five {
  grid-column: 2;
  background-color: darkblue;
  animation: fadeIn 1s;
}
.six {
  grid-column: 3;
  background-color: cornflowerblue;
  animation: fadeIn 1s;
}

ul {
  margin: 1%;
}

.one, .two, .three, .four, .five, .six {
  font-weight: 600;
  padding: 25px;
  color: white
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media (max-width: 1000px) {

  .container{
    padding-top: 2rem;
      padding: 1rem;
      padding-left: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

.desc {
  width: 100%;
}

.one, .two, .three, .four, .five, .six {
  font-weight: 600;
  padding: 25px;
  font-size: 15px;
  color: white
}


  /* .grid_container{ */
    /* background-color: black;
  }
  h2 {
    font-size: 5px;
  }

  .sideTitle {
    font-size: 5px;
  } */
}